@{
    ViewBag.Title = "Employee SPA";
}

<h2>Index</h2>


<div data-ng-app="app">
    
    <div>
        <div>
            <table>
                <tr>
                    <td><a href="#!showdepartments"> Show All Departments </a></td>
                    <td> </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div>
            <div data-ng-view="" class="container"></div>
        </div>
    </div>
</div>
