<div data-ng-controller="AddDepartmentController">

    <div class="form-horizontal">
        <h4> Add New Department</h4>
        <hr />
        <div class="form-group">
            <label class="col-md-2 control-label">Department Name</label>
            <div class="col-md-10">
                <input type="text" ng-model="DepartmentName" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input class="btn btn-default" type="button" value="Save" data-ng-click="save()" />
            </div>
        </div>
    </div>
</div>